/* Write your code here. */
.app-container {
  font-family: 'Roboto';
}

.image-container {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 20px;
}
.image {
  width: 100%;
}
.content-container {
  background-color: #ffffff;
}

.main-heading {
  color: #1e293b;
  font-size: 25px;
  padding-left: 20px;
}
.description {
  color: #64748b;
  font-size: 15px;
  padding-left: 20px;
}

.image-list-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
}
